name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: macos-26

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.0.app

      - name: Test Swift Package (iOS)
        run: |
          xcodebuild \
            -project SwiftyDrawer-Demo/SwiftyDrawer-Demo.xcodeproj \
            -scheme SwiftyDrawer \
            -destination 'platform=iOS Simulator,OS=26.1,name=iPhone 17' \
            -skipPackagePluginValidation \
            clean test \
            -verbose \
            -showBuildTimingSummary

      - name: Test advanced demo application (iOS)
        run: |
          xcodebuild \
            -project SwiftyDrawer-Demo/SwiftyDrawer-Demo.xcodeproj \
            -scheme SwiftyDrawer-Advanced-Demo \
            -destination 'platform=iOS Simulator,OS=26.1,name=iPhone 17' \
            -skipPackagePluginValidation \
            clean test \
            -verbose \
            -showBuildTimingSummary
